#title{
    font-size: 80px;
    font-weight: lighter;
    color: rgb(235, 221, 221);
}

#tasksCount{
    color: gray;

}

.delete-btn{
    color: rgb(180, 53, 53);
    display: none;
    background: transparent;
    border: none;
}

.task{
    padding-left: 12%;
}

.task:hover .delete-btn {
  display: inline-block;
}

#extra1{
    width: 99%;
    height: 4px;
    background-color: white;
    border-top: solid 1px rgb(224, 224, 224);
    box-shadow: 0px 1px 8px 1px rgb(168, 168, 168,0.5);
  
}

#extra2{
    width: 97%;
    height: 4px;
    background-color: white;
    border-top: solid 1px rgb(224, 224, 224);
    box-shadow: 0px 1px 8px 1px rgb(168, 168, 168,0.5);
    
}

#body{
    background-color: rgb(247, 247, 247, 0.4);
    height: 100vh;
}

#container{
    background-color: white;
    box-shadow: 0px 3px 5px 2px rgba(168, 168, 168, 0.5);
}